In [1]:
import os

folders = ["raw", "processed", "output"]
for folder in folders:
    os.makedirs(folder, exist_ok=True)

print("Folders created")

Folders created

In [2]:
import shutil

shutil.move("ecommerce_dataset_updated.csv", "raw/ecommerce_dataset_updated.csv")

'raw/ecommerce_dataset_updated.csv'

In [3]:
import pandas as pd

df = pd.read_csv("raw/ecommerce_dataset_updated.csv")
df.head()

,User_ID,Product_ID,Category,Price (Rs.),Discount (%),Final_Price(Rs.),Payment_Method,Purchase_Date
0,337c166f,f414122f-e,Sports,36.53,15,31.05,Net Banking,12-11-2024
1,d38a19bf,fde50f9c-5,Clothing,232.79,20,186.23,Net Banking,09-02-2024
2,d7f5f0b0,0d96fc90-3,Sports,317.02,25,237.76,Credit Card,01-09-2024
3,395d4994,964fc44b-d,Toys,173.19,25,129.89,UPI,01-04-2024
4,a83c145c,d70e2fc6-e,Beauty,244.80,20,195.84,Net Banking,27-09-2024

In [4]:
print("Rows before cleaning:", df.shape[0])

Rows before cleaning: 3660

In [5]:
df = df.drop_duplicates()

In [6]:
df = df.dropna()

In [7]:
df.columns = (
    df.columns
    .str.lower()
    .str.replace(" ", "_")
    .str.replace("(", "")
    .str.replace(")", "")
)
df.columns

Index(['user_id', 'product_id', 'category', 'price_rs.', 'discount_%',
       'final_pricers.', 'payment_method', 'purchase_date'],
      dtype='object')

In [8]:
df["discount_amount"] = df["price_rs."] - df["final_pricers."]

In [9]:
df["high_value_purchase"] = df["final_pricers."] > 200

In [10]:
customers = df[["user_id"]].drop_duplicates()

In [11]:
products = df[["product_id", "category", "price_rs."]].drop_duplicates()

In [12]:
orders = df[[
    "user_id",
    "product_id",
    "final_pricers.",
    "payment_method",
    "purchase_date",
    "high_value_purchase"
]]

In [13]:
customers.to_csv("output/customers.csv", index=False)
products.to_csv("output/products.csv", index=False)
orders.to_csv("output/orders.csv", index=False)

In [14]:
import sqlite3

conn = sqlite3.connect("database.sqlite")

customers.to_sql("customers", conn, if_exists="replace", index=False)
products.to_sql("products", conn, if_exists="replace", index=False)
orders.to_sql("orders", conn, if_exists="replace", index=False)

conn.close()

In [15]:
print("After Cleaning:", df.shape[0])
print("Customers:", customers.shape[0])
print("Products:", products.shape[0])
print("Orders:", orders.shape[0])

After Cleaning: 3660
Customers: 3660
Products: 3660
Orders: 3660

In [16]:
df.to_csv("processed/processed_data.csv", index=False)